<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../partials/head.ejs') %>
 <link rel="stylesheet" href="/css/home.css">
 <link rel="stylesheet" href="/css/create.css">

    <title>Document</title>
</head>
<body>
    <!--Header-->
    <%- include('../partials/header.ejs') %>
    <!--Main-->
<main>
    <section>
        <div class="top-half">
            <a>Agrega el producto que desees!</a>
        </div> 

        <div class="select-category-txt">Selecciona la categoria correspondiente
        </div>

            <div class="icon-category">
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/golf-ball-with-dents.png" alt=""></a>
                    <p>Accesories</p>
                <input type="radio" name="category-selection" value="accesories">
                </div>
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/caddy.png" alt=""></a>
                    <p>Bags</p>
                <input type="radio" name="category-selection" value="bags">
                </div>
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/golfing.png" alt=""></a>
                    <p>Clubs</p>
                <input type="radio" name="category-selection" value="clubs">
                </div>
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/smart-shoe.png" alt=""></a>
                    <p>Shoes</p>
                <input type="radio" name="category-selection" value="shoes">
                </div>
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/golf-sets.png" alt=""></a>
                    <p>Sets</p>
                <input type="radio" name="category-selection" value="sets">
                </div>
                
              
            </div>

           

    </section>
    <section>
        <div class="detailed-description">
            <p>Descripción y detalles del producto</p>
            <form action="" method="post">
                <div class="item-name">
                <p>Nombre del producto</p>
                <input type="text" name="name" placeholder="nombre">
                </div>

            </form>
        </div>
    </section>
</main>
    <!--Footer-->
    <%- include('../partials/footer.ejs') %>
</body>
</html>