<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Detail</title>
</head>
<body>
    <!--Header-->
    <%- include("../partials/header.ejs")  %>
    <!--Footer-->
    <%- include("../partials/footer.ejs")  %>  
</body>
</html>