<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/inventory.css">
    <title>Inventario</title>
</head>
<body>
   <!--Header-->
   <%- include('../partials/header.ejs') %>
   <!--Main-->
<main>
    <section class="inventory-section">
        <div class="title"> Inventory</div>
        
            <a href="/products/create"><button class="create-button"> Agregar producto</button></a>
        
        
            <div class="category-section"> 
                <div style="color:rgba(255, 137, 58, 0.815)">ID</div>
                <div>Nombre</div>
                <div>Categoria</div>
                <div>Precio</div>
                <div>Cantidad</div>
                <div>Disponibilidad</div>
                <div>Medida</div>
                <div>Color</div>
                <div>Marca</div>
                <div>Edit / Delete</div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <a href="/products/edit" class="edit-button"><button register="submit">
                        EDIT
                    </button></a>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <button class="edit-button" register="submit">
                        EDIT
                    </button>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <button class="edit-button" register="submit">
                        EDIT
                    </button>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <button class="edit-button" register="submit">
                        EDIT
                    </button>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <button class="edit-button" register="submit">
                        EDIT
                    </button>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <button class="edit-button" register="submit">
                        EDIT
                    </button>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <button class="edit-button" register="submit">
                        EDIT
                    </button>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <button class="edit-button" register="submit">
                        EDIT
                    </button>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>
            <div class="item01"> 
                <div>15255</div>
                <div>2</div>
                <div>Clubs</div>
                <div>$ 1,780</div>
                <div>500</div>
                <div>430</div>
                <div>9'</div>
                <div>N/A</div>
                <div>Apex</div>
                <div class="buttons01">
                    <button class="edit-button" register="submit">
                        EDIT
                    </button>
                    <button class="delete-button" register="submit">
                        DEL
                    </button>
                </div>
               
            </div>






        

    </section>
</main>
   <!--Footer-->
   <%- include('../partials/footer.ejs') %>
</body>
</html>