<%- include("../partials/head.ejs") %>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <!-- header -->
    <main>
        <div class="preferences">
            <h2>Preferencias de carga de producto</h2>
        <form class="preferences-form" action="/products/preferences" method="POST">
            <div class="preferences-categories">
            <label for="">Agregar una nueva categoría</label>
            <input type="text" placeholder="" name="categories">
            </div>
            <div class="preferences-brands">
            <label for="">Agregar una nueva marca</label>
            <input type="text" placeholder="" name="brands">
            </div>
            <button type="submit">Confirmar</button>
        </form>
        </div>
    </main>
    
</body>
<%- include("../partials/footer.ejs") %>