<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/cart.css">
    
    <title>Cart</title>
</head>
<body> 
<header class="header">
    <h2>Viridis</h2>
    <div class="search-bar"></div>

    <nav class="header-bar">
    <ul>
        <li><a href = "#">Link1</a></li>
        <li><a href = "#">Link2</a></li>
        <li><a href = "#">Link3</a></li>
        <li><a href = "#">Link4</a></li>
    </ul>
    </nav>

    <i class="fas fa-shopping-cart"></i>
    <i class="fas fa-sign-in-alt"></i>
</header>

<main class="main">

        <div class="columna">
    <section class="columna-detalles">
        <article class="detalles">          
        </article>
        <article class="detalles">
        </article>    
        <article class="detalles">
        </article>
        <article class="detalles">
        </article>
        <article class="detalles">
        </article>
        <article class="detalles">
        </article>
        <article class="detalles">
        </article>
        </div>
        
        <div class="columna1">
            <article class="i-principal">
            </article>
        </div>
    
        <div class="columna2">
            <h2>Nombre del Producto</h2>
            <br>
            <h4>Precio</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia in molestiae officia unde totam perferendis facilis voluptatem quaerat debitis eos? Magni pariatur dolor vitae ratione similique sint facere voluptate temporibus?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia in molestiae officia unde totam perferendis facilis voluptatem quaerat debitis eos? Magni pariatur dolor vitae ratione similique sint facere voluptate temporibus?</p>
        </div>
    </section>
</main>
<main>   
        <div><h2>Más Productos</h2></div>
    <section class="mas-productos">
         <article class="ver-mas"> </article>
        <article class="ver-mas"> </article>
        <article class="ver-mas"> </article>
        <article class="ver-mas"> </article>
        <article class="ver-mas"> </article>
    </section>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia in molestiae officia unde totam perferendis facilis voluptatem quaerat debitis eos? Magni pariatur dolor vitae ratione similique sint facere voluptate temporibus?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia in molestiae officia unde totam perferendis facilis voluptatem quaerat debitis eos? Magni pariatur dolor vitae ratione similique sint facere voluptate temporibus?</p>
        
</main>
<footer class="footer">
    <ul>
        <li><a href = "#">Product1</a></li>
        <li><a href = "#">Product2</a></li>
        <li><a href = "#">Product3</a></li>
        <li><a href = "#">Product4</a></li>
    </ul>
</footer>
</body>
</html>