<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="menu">
            <div class="contenedor">
                <img src='/images/Logo-blanco.png' href=''>
                <div class='buscador'><i class="fas fa-search"></i>Barra de busqueda</div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Palos</a></li>
                        <li><a href="#">Sets</a></li>
                        <li><a href="/cart"><i class="fas fa-shopping-cart"></i></li></a>
                        <li><a href="#"><i class="fas fa-sign-out-alt"></i></li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section>
            <div class="contenedor-main">
                <div class="contenedor-titulo">
                    <div class="titulo-login">
                        <h1>Formulario de Registro</h1>
                    </div>
                    <div class="form">
                        <form action="/index.html" method="post">
                            <div>
                                <label for="nombre"> </label>
                                <input type="text" name="nombre" id="nombre" placeholder="Usuario" required>
                            </div>
                            <div>
                                <label for="nombre"> </label>
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required>
                            </div>
                            <div>
                                <label for="password"></label>
                                <input type="password" name="password" id="password" placeholder="Contraseña"
                                    required>
                            </div>
                            <div>
                                <label for="email"> </label>
                                <input type="email" name="Email" id="email" placeholder="Email"  required>
                            </div>

                            <div class="botones">
                                <div class="boton-registrar">
                                    <button type="reset">Borrar</button id="submit"></button>
                                </div>
                                <div class="boton-confirmar">
                                    <button type="submit">Confirmar</button id="submit"></button>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <div class='contenedorfooter1'>
            <a class='titulo-footer1'>VIRIDIS</a>

            <a href="">@ 2010 - 2021</a>
            <a href="">Privacy Terms</a>
        </div>
        <div class='contenedorfooter2'>
            <a class='titulo-footer2'>Productos</a>

            <a href="">product1</a>
            <a href="">product1</a>
            <a href="">product1</a>
        </div>
        <div class='contenedorfooter3'>
            <a class='titulo-footer3'>Productos</a>

            <a href="">product1</a>
            <a href="">product1</a>
            <a href="">product1</a>
        </div>
        <div class='contenedorfooter4'>
            <a class='titulo-footer4'>Redes Sociales</a>

            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
        </div>
    </footer>
</body>

</html>