/*-------------------------- HOME ------------------------*/

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

/*-------------- MAIN ---------------*/

.main-index {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

.contenedormain {
  height: 45vw;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.contenedormain ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: change 20s infinite;
  animation-direction: alternate;
}

.contenedormain li {
  width: 100%;
  list-style: none;
}

.contenedormain img {
  width: 100%;
}

.MainImg {
  max-height: 100%;
  width: 100%;
  background: none;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translate(0%, 0%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.interactive-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  position: absolute;
  top: 7%;
  left: 5%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10vw;
  transform: translate(0, 50%);
  height: 7vw;
  padding: 2vw;
  animation-name: glowing;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.interactive-logo:hover {
  transform: scale(100%);
  animation-fill-mode: initial;
  animation-iteration-count: unset;
  animation-play-state: paused;
}

.interactive-logo:hover > .text-logo {
  display: block;
  width: 32vw;
  text-indent: 0px;
  padding: 0 6px 0 50px;
  color: white;
  white-space: nowrap;
}

.interactive-logo img {
  width: 3vw;
  background: none;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-logo {
  display: block;
  text-indent: 100%;
  background: none;
  border: none;
  outline: none;
  float: left;
  padding: 0;
  color: transparent;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  text-indent: -50px;
  white-space: nowrap;
  font-weight: 300;
  letter-spacing: 0.5ch;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.center-left {
  margin: auto;
  background: none;
  color: black;
  position: absolute;
  left: 5%;
  top: 5%;
}

.center-left img {
  width: 10rem;
  background: none;
}

.bottom-left {
  margin-top: 2vw;
  width: 350px;
  background: none;
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.ContenedorMain p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.3vw;
  background: none;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 7%;
  z-index: 11;
}

.main-buttons {
  position: absolute;
  top: 75%;
  left: 35%;
  z-index: 18;
  cursor: pointer;
}

.buy-now-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  width: 13vw;
  height: 4vw;
  position: absolute;
  z-index: 19;
  border-radius: 20px;
}

.buy-now-button a {
  font-size: 1.2vw;
  text-align: center;
  background: none;
  text-decoration: none;
  color: black;
  display: inline-block;
  white-space: nowrap;
  max-width: 10ch;
  letter-spacing: 3px;
}
.main-buttons .bg-button {
  background: #b0ff57;
  width: 13vw;
  height: 4vw;
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  z-index: 12;
  border-radius: 20px;
}

.main-buttons:hover {
  transform: scale(1.1);
}


@keyframes change {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}


/* ----- Middle Section -----*/

.middle-section {
  display: flex;
  background: none;
  position: relative;
  height: 80vw;
  margin-top: 2vw;
}

.middle-section-img {
  background: none;
  display: flex;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 4;
  margin-top: 5vw;
  overflow: hidden;
}
.middle-section-img ul,
.middle-section-img li {
  background: none;
}
.middle_section_main_img {
  background: none;
}
.middle_section_main_img img {
  background: none;
  width: 60vw;
  transition: 0.5s;
}

.selected-images {
  margin-top: 5vw;
  background: none;
  overflow: hidden;
}
.main_section_img1,
.main_section_img2,
.main_section_img3,
.main_section_img4,
.main_section_img5 {
  visibility: hidden;
  z-index: 4;
  position: absolute;
  top: -5%;
  right: 0%;
}

.middle-section h2 {
  font-weight: 100;
  font-size: 3vw;
  background: none;
  white-space: nowrap;
  color: white;
  position: absolute;
  top: 3%;
  left: 2%;
}

.bg-panel1 {
  background: #b0ff57;
  width: 40vw;
  height: 50vw;
  position: absolute;
  top: 8.5%;
  right: 0%;
  z-index: 2;
  margin-top: 5vw;
}
.main-section-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  background: none;
  justify-content: space-evenly;
  height: 60vw;
  width: 140px;
  margin-top: 10vw;
  padding: 2vw 2vw 2vw 0vw;
  border-radius: 20;
  z-index: 1;
  background: rgba(255, 255, 255);
  position: relative;
}

.section-description {
  margin-left: 1vw;
  color: black;
  background: none;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
  transition: 0.3s;
}

.button-clubs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255);
  width: 8vw;
  padding: 1.8vw;
  border-right: 0.5px solid rgba(0, 0, 0, 0.8);
  float: left;
  margin-bottom: 1vw;
  z-index: 2;
  transition: 0.5s;
  translate: (50%, 0%);
}

.section-clubs,
.section-bags,
.section-shoes,
.section-golfballs,
.section-sets {
  position: absolute;
  top: 0%;
  left: 130%;
  color: transparent;
  width: 0;
  position: absolute;
  height: 10vw;
  transition: 0.3s;
  font-weight: 200;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.section-clubs p,
.section-bags p,
.section-shoes p,
.section-golfballs p,
.section-sets p {
  background: none;
  transition: 0.5s;
}

.button-clubs a {
  float: left;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.button-clubs a img {
  float: left;
  width: 4vw;
  background: none;
}

.button-bags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255);
  width: 8vw;
  padding: 1.8vw;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  z-index: 2;
  margin-bottom: 1vw;
}

.button-bags a {
  float: left;
  width: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.button-bags a img {
  float: left;
  width: 4vw;
  background: none;
}

.button-shoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255);
  width: 8vw;
  padding: 1.8vw;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  z-index: 2;
  margin-bottom: 1vw;
}

.button-shoes a {
  float: left;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.button-shoes a img {
  float: left;
  width: 4vw;
  background: none;
}

.button-golfballs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255);
  width: 8vw;
  padding: 1.8vw;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 1vw;
  z-index: 2;
}

.button-golfballs a {
  float: left;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.button-golfballs a img {
  float: left;
  width: 4vw;
  background: none;
}

.button-sets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255);
  width: 8vw;
  padding: 1.8vw;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  z-index: 2;
  margin-bottom: 1vw;
}

.button-sets a {
  float: left;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.button-sets a img {
  float: left;
  width: 4vw;
  background: none;
}

.button-clubs:hover,
.button-bags:hover,
.button-shoes:hover,
.button-golfballs:hover,
.button-sets:hover {
  background-color: orange;
}

.button-clubs:hover > .section-clubs {
  opacity: 1;
  visibility: visible;
  background-color: rgba(255, 255, 255);
  width: 30vw;
  color: black;
}

.button-clubs:hover > .main_section_img1 {
  opacity: 1;
  visibility: visible;
}
.button-bags:hover > .section-bags {
  opacity: 1;
  visibility: visible;
  background-color: rgba(255, 255, 255);
  width: 30vw;
  color: black;
}
.button-shoes:hover > .section-shoes {
  opacity: 1;
  visibility: visible;

  background-color: rgba(255, 255, 255);
  width: 30vw;
  color: black;
}
.button-golfballs:hover > .section-golfballs {
  opacity: 1;
  visibility: visible;
  background-color: rgba(255, 255, 255);
  width: 30vw;
  color: black;
}
.button-sets:hover > .section-sets {
  opacity: 1;
  visibility: visible;

  background-color: rgba(255, 255, 255);
  width: 30vw;
  color: black;
}

/* ------- Bottom Middle sectionn -------- */

.membership-discounts {
  background: rgba(255, 255, 255);
  transform: (-50%, -50%);
  height: 8vw;
  padding: 2vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
}

.membership-discounts:hover > .membership-txt {
  width: 600px;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.8);
  text-indent: 0px;
  margin-left: 10px;
}

.membership-discounts:hover > .membership-icon {
  animation-duration: 0s;
}

.membership-txt {
  font-size: 1.5rem;
  font-weight: 300;
  background: none;
  text-decoration: none;
  transition: 0.5s;
  width: 0px;
  float: left;
  color: transparent;
  text-indent: -1500px;
  display: flex;
  align-items: center;
}

.membership-icon {
  background: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 3.5vw;
  float: right;
  border-radius: 50%;
  animation: rotation 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.membership-icon i {
  background: none;
}

@keyframes rotation {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*------- Bottom Main Section nteractive Search ---------*/

.interactive-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  height: 15vw;
  padding: 3vw 0 20vw 0;
  position: relative;
  border-top: solid #63a4ff 1px;
}

.interactive-search h2 {
  font-size: 5vw;
  font-weight: 200;
  letter-spacing: 0.5ch;
  background: none;
  color: white;
  white-space: nowrap;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #607d8b;
  height: 8vw;
  border-radius: 4vw;
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 560px;
  padding: 0 6px 0 25px;
}

.search-box:hover > .search-btn {
  color: #b0ff57;
}

.search-btn {
  color: #ff8f00;
  text-decoration: none;
  float: right;
  width: 7vw;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-btn i {
  background: none;
  font-size: 3vw;
}

.search-txt {
  background: none;
  border: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  white-space: nowrap;
  font-size: 1.5rem;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

/*--------- Main Bottom Section Productos -----------*/

.main-bottom-section {
  background: none;
  padding-bottom: 40px;
  height: 80vw;
}

.main-categorias {
  font-size: 4vw;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  background: none;
  color: white;
  padding: 0px 20px 20px 20px;
  margin: 50px 10px 10px 10px;
  border-bottom: solid #63a4ff 1px;
  padding-bottom: 2vw;
  letter-spacing: 0.1ch;
}

.main-sub-categorias {
  padding: 5px 50px;
  margin: 30px 0;
  background: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-sub-categorias a {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 2px;
  background: none;
  color: white;
  cursor: pointer;
}

.main-sub-categorias a:hover {
  color: #ff8f00;
}

.main-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  background: none;
  transition: 0.5s;
  overflow: hidden;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 0 10px 0 10px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
  text-decoration: none;
  border-radius: 0.5vw;
  transition: 0.5s;
  overflow: hidden;
  width: 220px;
  margin: 10px;
}

.img-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  text-decoration: none;
}

.img-container-data {
  background: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
}

.img-container-data p {
  color: rgba(0, 0, 0, 0.8);
  background: none;
  margin: 10px;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 300;
  background: none;
  text-decoration: none;
  height: 0;
  padding: 0;
  width: 100%;
  float: right;
  transition: 0.5s;
  text-decoration: none;
}

.img-container img {
  align-items: center;
  width: 200px;
  height: 200px;
  background: none;
  margin-top: 10px;
  border-radius: 0.5vw;
}

.img-container-data h4 {
  color: rgba(0, 0, 0, 0.8);
  background: none;
  margin: 10px;
  overflow: hidden;
  text-overflow: elipsis;
  line-height: 2rem;
  max-height: 2em;
  -webkit-box-orient: vertical;
  max-width: 15vw;
  text-decoration: none;
}

.img-container-data span {
  color: rgba(0, 0, 0, 0.8);
  background: none;
  margin: 10px;
  overflow: hidden;
  text-decoration: none;
}
.img-container:hover .img-container-data p {
  padding: 1vw 0 2vw 0;
}

.main-images i {
  background: none;
}

.main-images i:hover {
  color: orange;
  background: none;
}

.arrow-left-main {
  background: none;
  font-size: 2em;
  color: orange;
  position: absolute;
  top: 50%;
  left: 1%;
}

.arrow-right-main {
  background: none;
  font-size: 2em;
  color: orange;
  position: absolute;
  top: 50%;
  right: 1%;
}

.arrow-right-main i,
.arrow-left-main i {
  background: none;
}

.arrow-right-main i:hover,
.arrow-left-main i:hover {
  transform: scale(1.3);
  text-shadow: 0px 2px 8px white;
}

@keyframes glowing {
  0% {
    transform: scale(90%);
  }

  100% {
    transform: scale(100%);
  }
}

/*-------------- FOOTER ---------------*/

footer {
  position: relative;
  height: 200px;
  background-color: black;
}

.contenedorfooter1 {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 10%;
}

.contenedorfooter1 a {
  font-size: 10px;
  color: white;
  text-decoration: none;
  margin: auto;
}

.redes-sociales {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 135%;
}

.titulo-footer1 {
  width: 150px;
}

.contenedorfooter2 {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 35%;
  margin: auto;
  color: white;
}

.contenedorfooter3 {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 55%;
  margin: auto;
  color: white;
}

.contenedorfooter4 {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 75%;
  margin: auto;
  color: white;
}

@media (max-width: 420px) {
  .header {
    flex-direction: column;

    align-content: space-around;
    flex-wrap: nowrap;
    height: 9rem;
  }

  .header a {
    margin: 0;
  }

  .left-box {
    margin: 1rem;
  }
  .left-box .logo img {
    margin: 1rem;
  }

  .right-box {
    margin: 0;
    align-content: space-between;
  }

  .right-box i {
    margin: 1rem;
    align-content: space-between;
  }

  .right-box .iconos {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .left-box {
    margin: 0;
  }
  .right-box .hamburguer-menu {
    margin: 0;
  }
}

@media (max-width: 675px) {
  /* header*/

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .left-box a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-box .nav-bar {
    display: none;
  }

  .left-box .buscador {
    display: none;
  }

  .hamburguer-menu {
    display: block;
    background: none;
    color: white;
    font-size: 40px;
    margin: 15px;
  }

  .hamburguer-menu i {
    background: none;
  }
  .iconos {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .iconos a {
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  /* Main */

  .main-sub-categorias {
    display: none;
  }

  .img-container02,
  .img-container03 {
    display: none;
  }

  /* footer */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedorfooter1 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0%;
  }

  .redes-sociales {
    width: 100%;
    position: absolute;
    align-items: center;
  }

  .contenedorfooter2,
  .contenedorfooter3,
  .contenedorfooter4 {
    display: none;
  }
}

@media (max-width: 1100px) {
  .left-box {
    align-items: center;
  }

  .nav-bar {
    display: none;
  }

  .hamburguer-menu {
    display: block;
    background: none;
    color: white;
    font-size: 1.5rem;
    margin: 15px;
  }

  .hamburguer-menu i {
    background: none;
  }

  .img-container03 {
    display: none;
  }
}

/* ----------------------Listado de Productos -------------------*/

.products-listing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100vw;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.sidebar-sections {
  width: 15vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background: none;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.most-searched-sections {
  display: flex;
  flex-direction: column;
  margin: 2vw 0 0 1vw;
  background: none;
  width: 50%;
}

.most-searched-sections a {
  margin-bottom: 0.5vw;
  background: none;
  text-decoration: none;
  color: rgba(100, 255, 100, 0.863);
  font-weight: 250;
  font-size: 1vw;
  letter-spacing: 0.1ch;
}

.products-categorysection {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  background: none;
  margin-top: 10px;
  padding-top: 1vw;
}

.products-categorysection a {
  background: none;
  margin: 0.5vw 0 0 1vw;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 1vw;
  letter-spacing: 0.1ch;
}

.products-categorysection p {
  background: none;
  color: rgba(255, 255, 255, 0.8);
  margin: 0.5vw 1vw;
  font-size: 1.2rem;
}

.selectedproducts-showing {
  position: absolute;
  left: 19%;
  top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background: none;
  transition: 0.5s;
  overflow: hidden;
  width: 80%;
}
.selectedproducts-showing i {
  background: none;
}

/* ----------------- CART -------------------*/

.header a img {
  background: none;
  width: 10rem;
  margin-right: 20px;
}
.main-cart {
  height: 1000px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}
.contenedor-main-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background: none;
}

.item01 {
  display: flex;

  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  height: 200px;
  background: none;
  position: relative;
  padding-bottom: 30px;
  border-bottom: solid #63a4ff 1px;
}

.item01 img {
  align-items: left;
  width: 150px;
}
.name-product {
  text-decoration: none;
  background: none;
  color: white;
  position: absolute;
  top: 5%;
  left: 20%;
}

.product-price {
  font-size: 1.5em;
  text-decoration: none;
  background: none;
  color: white;
  position: absolute;
  bottom: 70%;
  right: 15%;
}

.delete-button {
  display: flex;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  align-items: center;
  color: white;
  background-color: rgba(255, 53, 17, 0.5);
  border: 1px white solid;
  position: absolute;
  bottom: 20%;
  left: 25%;
}

.delete-button i {
  background: none;
  font-size: 1.5em;
}

.delete-button:hover {
  transform: scale(1.3);
}

.more-products {
  background: none;
  text-decoration: none;
  position: absolute;
  bottom: 60%;
  left: 20%;
  color: white;
  font-size: 0.8em;
}

.more-less-products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: none;
  position: absolute;
  right: 35%;
  top: 10%;
}

.more-less-products a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  background: none;
}

.boxminus {
  padding: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border: orange 1px solid;
  margin-right: 10px;
}

.box2 {
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border: orange 1px solid;
}

.boxplus {
  padding: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border: orange 1px solid;
  margin-left: 10px;
}

.Subtotal {
  background: none;
  font-size: 2em;
  position: absolute;
  bottom: -10%;
  right: 15%;
  color: white;
}

/* ------------------ CREATE -------------------- */

.main-create {
  background: none;
  height: 120vw;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-create section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

/* ---------------First Section-------------------*/

.select-category-txt {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: none;
  font-weight: 300;
  font-size: 1.5rem;
  top: 10%;
  align-items: left;
  justify-content: center;
}

.select-category-txt a {
  font-size: 1rem;
  color: black;
  background: none;
}

.select-category-txt i {
  background: none;
  font-size: 2rem;
}

.main-create .top-half {
  display: flex;
  flex-direction: row;
  height: 27vw;
  width: 100%;
  background-color: #9ccc65;
  position: absolute;
  left: 0%;
  align-items: left;
  justify-content: left;
}

.top-half a {
  margin: 5vw 0 0 5vw;
  font-weight: 100;
  letter-spacing: 0.2ch;
  text-decoration: none;
  background: none;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.8);
}

.icon-category {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 0;
  background: none;
  width: 100%;
  padding-bottom: 2vw;
  border-bottom: 1px #9ccc65 solid;
}
.icon-properties {
  background: rgb(216, 216, 216);
  padding: 3vw;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.8) 1px solid;
  margin: 0 1rem 0 1rem;
}

.icon-category a img {
  background: none;
  width: 5rem;
}

.radio-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 40%;
  background: none;
  width: 100%;
  margin: 2vw;
}

.icon-category input {
  margin: 1vw;
}

.icon-category p {
  background: none;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 1vw;
}

.selection-inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
}

/* ---------------Middle Section-------------------*/

.detailed-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25%;
  background: none;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 3vw;
 
}

.description-title {
  background: none;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
}

.detailed-description input,
.item-name p {
  background: none;
  font-weight: 300;
  font-size: 1.1rem;
  color: white;
  outline: none;
}

.item-name {
  display: flex;
  flex-direction: column;
  background: none;
  font-size: 1vw;
  width: 45vw;
}

.item-name input {
  padding-left: 1vw;
  margin: 15px 0 15px 0;
  height: 30px;
  outline: none;
  text-indent: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 100%;
  text-align: start;
  color: black;
}

.item-name input::placeholder {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
}

.item-name .description {
  margin: 1vw 0 1vw 0;
  height: 10vw;
  outline: none;
  text-indent: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 100%;
  text-align: start;
  box-sizing: border-box;
  padding: 10px;
}

.description textarea {
  padding: 10%;
}

.description::placeholder {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 10vw;
  font-style: italic;
  color: rgba(0, 0, 0, 0.8);
}

.brands {
  padding-left: 1vw;
  margin: 1vw 0 1vw 0;
  height: 30px;
  outline: none;
  text-indent: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 100%;
  text-align: start;
  color: black;
}

.categories {
  padding-left: 1vw;
  margin: 1vw 0 1vw 0;
  height: 30px;
  outline: none;
  text-indent: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 10vw;
  text-align: start;
  color: black;
}

/* ---------------Final Section-------------------*/

.img-section {
 
  border-top: 1px #9ccc65 solid;
  position: absolute;
  bottom: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}

.img-section h2 {

  margin: 2vw 0 4vw 0;
  background: none;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
}

.img-section input {
  
  background: none;
  color: rgba(255, 255, 255, 0.8);
  left: 40%;
  margin-bottom: 10px
}

.buttons {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  background: none;
}

.buttons button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  outline: none;
  border: none;
  margin: 3vw;
  padding: 1vw;
  border-radius: 1vw;
}

.erase-button {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  width: 30%;
}

.confirm-button {
  background-color: #9ccc65;
  width: 30%;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.confirm-button:hover {
  background-color: #689f38;
}

.erase-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* ----------------------- EDIT --------------------- */

.edit-page-section {
  background: none;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  height: 80vw;
  position: relative;
}
.edit-page-section form {
  background: none;
}

.bgeditpanel01 {
  width: 100%;
  height: 15vw;
  background: #0288d1;
}

.edit-title {
  font-size: 3vw;
  letter-spacing: 0.2ch;
  position: absolute;
  top: 8%;
  left: 10%;
  color: white;
  background: none;
  font-weight: 100;
}

.edit_contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: none;
}

.categories {
  background: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding: 5px;
}

.item-edit-properties {
  background: none;
  display: flex;
  flex-direction: column;
}

.item-edit-properties p {
  background: none;
  font-size: 1.1rem;
  margin: 1vw 0 1vw 0;
  color: white;
  font-weight: 300;
}

.item-edit-properties input,
.item-edit-properties textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 3px;
  width: 40vw;
  padding: 5px;
}

.item-edit-properties input::placeholder,
.item-edit-properties textarea::placeholder {
  font-size: 0.8rem;
}

.edit-image-button {
  background-color: #ffe54c;
  color: black;
  border: 1px white solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 50%;
  margin-top: 30px;
}

.save-changes-button {
  width: 20vw;
  height: 3vw;
  margin-top: 20px;
  background-color: #85bb5c;
  color: black;
  border: 1px white solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 300;
}

.second_panel_img_edit {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  background: none;
}

.second_panel_img_edit p {
  background: none;
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
}

.second_panel_img_edit img {
  background: none;
  width: 30vw;
}

.second_panel_img_edit label,
.second_panel_img_edit input {
  margin-top: 20px;
  color: white;
  background: none;
  font-size: 1.1rem;
  font-weight: 300;
}

/* ------------------------ INVENTORY ------------------------*/

.inventory-section {
  height: 1000vw;
  background: none;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: white;
  background: none;
  position: absolute;
  top: 13%;
  left: 5%;
}

.create-button {
  position: absolute;
  top: 19.5%;
  left: 5%;
  width: 10vw;
  height: 2vw;
  background-color: #00e676;
  color: black;
  border: 1px white solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.buscador_inventario {
  position: absolute;
  top: 19.5%;
  left: 20%;
  margin-left: 2vw;
  width: 17.5vw;
  background-color: grey;
  padding: 5px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.buscador_inventario i {
  background: none;
}

.buscador_inventario input {
  background: none;
  outline: none;
  border: none;
  margin-left: 5px;
  color: white;
}
.search_button {
  position: absolute;
  top: 19.5%;
  left: 45%;
  padding: 4px;
  border-radius: 3px;
  background-color: lightseagreen;
}

.category-section {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 5vw 10vw 5vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  margin: 12vw 10px 10px 10px;
  text-align: center;
  background: none;
  color: white;
  padding-bottom: 10px;
}

.category-section div {
  background: none;
}

.productItems {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 5vw 10vw 5vw 10vw 10vw 10vw 10vw 10vw 10vw 5vw 5vw;
  flex-wrap: wrap;
  margin: 0px 10px 0 10px;
  text-align: center;
  line-height: 4vw;
  background: none;
  color: white;
  border: 1px white solid;
  align-items: center;
  justify-content: center;
}

.productItems form {
  background: none;
}

.inventory-productid {
  margin: 0vw 10px 0px 10px;
  background: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.inventory-item div {
  border: 1px rgba(255, 255, 255, 0.8) solid;
  background: none;
}

.inventory-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: none;
}

.inventory-buttons button {
  width: 2vw;
  height: 2vw;
  background-color: #b91e1e;
  border-radius: 5px;
  border: 3px rgba(255, 255, 255) solid;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.edit_button_inventory {
  width: 2vw;
  height: 2vw;
  background-color: #1eb9ac;
  border-radius: 5px;
  border: 3px rgba(255, 255, 255) solid;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.edit_button_inventory a {
  background: none;
  color: white;
  text-decoration: none;
}

/* --------------------------- LOGIN --------------------------*/

/* Empieza el main */

.contenedor-main {
  position: relative;
  text-align: center;
  background-image: url(/images/canva-photo-editor.png);
  height: 35vw;
  background-size: cover;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.titulo-login {
  font-size: 3vw;
  margin-bottom: 1%;
  letter-spacing: 5px;
  padding-top: 5%;
  color: white;
  font-weight: 100;
  background: none;
}

.titulo-login p {
  background: none;
}

.form-login {
  background: none;
  color: white;
  width: 40%;
  margin: auto;
}

.form-login form {
  background: none;
}

#nombre,
#password {
  border: none;
  border-bottom: solid 1px black;
  padding: 2%;
  width: 100%;
  display: flex;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 20px;
  color: white;
  background: none;
}

#editPassword{
  border: none;
  border-bottom: solid 1px black;
  padding: 2%;
  display: flex;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 20px;
  background: none;
}


#nombre::placeholder,
#password::placeholder {
  color: white;
  font-weight: 300;
}

.botones {
  display: flex;
  justify-content: space-around;
}

.boton-registrar button,
.boton-confirmar button {
  font-size: 20px;
  background: grey;
  opacity: 0.8;
  padding: 2%;
  border: solid 0.5px black;
  border-radius: 10px;
  width: 250px;
  color: white;
  font-weight: 300;
}

.boton-registrar a {
  color: white;
  font-size: 20px;
  background: none;
  width: 100%;
  display: block;
  align-self: center;
  text-decoration: none;
  font-weight: 300;
}

.boton-registrar button:hover,
.boton-confirmar button:hover,
.boton-registrar a:hover {
  background-color: #9ccc65;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.rememberpass {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5%;
  justify-content: left;
  color: white;
  background: none;
  position: relative;
  left: 2%;
  font-weight: 300;
}

.forgotpass {
  margin-top: 5%;
  background: none;
}

.forgotpass a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-weight: 800;
  text-decoration: none;
  background: none;
}

.forgotpass a:hover {
  text-decoration: underline;
}

@media (max-width: 420px) {
  .contenedor-main {
    height: 50vh;
  }

  .titulo-login {
    font-size: 15px;
    padding-top: 30px;
  }

  .form {
    width: 53%;
    margin-top: 25px;
  }

  .boton-registrar button,
  .boton-confirmar button {
    font-size: 15px;
    width: 100px;
    margin-top: 20px;
  }
  .boton-registrar a {
    font-size: 15px;
    text-decoration: none;
  }

  .forgotpass a {
    font-size: 16px;
    padding-top: 12px;
  }

  #nombre,
  #password {
    font-size: 20px;
  }
}

@media (max-width: 675px) {
  .contenedor-main {
    height: 60vh;
  }

  .form {
    width: 60%;
  }
  .boton-registrar button,
  .boton-confirmar button {
    width: 140px;
    margin-top: 20px;
  }

  .titulo-login {
    font-size: 6vw;
  }

  .forgotpass a {
    color: white;
    font-weight: 400;
  }
}

.error-msg {
  font-size: 1rem;
  color: red;
  background: none;
}
.error-image-msg {

  font-size: 1rem;
  color: red;
  background: none;
}

/* ------------------------- PROFILE -----------------------*/

.profile_page {
  background: none;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  height: 100vw;
  display: flex;
  flex-direction: row;
}

.profile_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  background: none;
  padding: 3vw;
  height: 100%;
}

.profile_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  width: 100%;
  margin: 30px;
}

.profile_data p {
  font-size: 2rem;
  background: none;
  margin: 10px;
}

.profile_image {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: black 3px solid;
}

.profile_image img {
  border-radius: 50%;
  border: white 1px solid;
  width: 20vw;
  height: 20vw;
}

.profile_user_id {
  font-size: 1rem;
  color: rgba(255, 255, 255);
  background: none;
}

.profile_user_name {
  font-size: 1rem;
  color: rgba(255, 255, 255);
  background: none;
}

.profile_user_email {
  font-size: 1rem;
  color: rgba(255, 255, 255);
  background: none;
}

.edit_profile_button {
  width: 20vw;
  height: 2vw;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1vw;
  outline: none;
}

.edit_profile_button a {
  background: none;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.edit_profile_button:hover {
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.profile_products {
  position: absolute;
  top: 20%;
  left: 40%;
  background: none;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_products img {
  background: none;
  width: 20vw;
}

.profile_products h3 {
  margin-top: 50px;
  letter-spacing: 0.2ch;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  background: none;
}

.profile_products a {
  background: none;
  color: #00e676;
  font-size: 1.1rem;
  text-decoration: none;
}

/* ------------------------- PRODUCT DETAIL -----------------------*/

.main-productejs h2,
h4 {
  margin: 10px 10px;
  background: none;
}

.main-productejs p {
  width: 90%;
  text-align: left;
  margin: 10px;
  background: none;
}

.main-productejs {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

.contenedor-padre1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  background: none;
  justify-content: space-evenly;
}

.contenedor-main-product1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 20%;
  background: none;
}

.columna1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: nowrap;
  background: none;
}

.detalles {
  margin: 10px;
  border: solid 1px black;
  margin-bottom: 15px;
  align-items: flex-start;
  box-sizing: border-box;
  width: 8vw;
  max-width: 85%;
  overflow: hidden;
  background: none;
}

.contenedor-main-product2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background: none;
}

.columna2 {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  background: none;
}

.i-principal {
  width: 30vw;
}

.contenedor-main-product3 {
  box-sizing: border-box;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: flex-end;
  background: none;
}

.columna3 {
  display: block;
  position: absolute;
  top: 12%;
  left: 65%;
  flex-direction: row;
  box-sizing: border-box;
  align-content: flex-end;
  flex-wrap: nowrap;
  margin-right: 10px;
  background: none;
  overflow: hidden;
}

.more-less-products div {
  display: flex;
  box-sizing: border-box;
  justify-content: stretch;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 95%;
  background: none;
}
.columna3 .more-less-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
  color: white;
  font-size: 0.8em;
  background: none;
}

.buttons_detail_product a {
  text-decoration: none;
}

.buttons_detail_product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 5%;
  background: none;
}
.buttons_detail_product form {
  background: none;
}

.columna3 .more-less-products a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  background: none;
  margin-bottom: 15px;
}

.boxminus {
  padding: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border: orange 1px solid;
  margin-right: 10px;
  color: white;
  background: none;
}

.box2 {
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border: orange 1px solid;
  color: white;
  background: none;
}

.boxplus {
  padding: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border: orange 1px solid;
  margin-left: 10px;
  color: white;
  background: none;
}

.more-less-products {
  position: absolute;
  top: 40%;
  right: 20%;
}

.more-less-products .anadirCart .fa-shopping-cart {
  background: none;
  display: flex;
  justify-content: center;
  color: #5eb8ff;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.anadirCart {
  background: none;
  position: absolute;
  top: 41%;
  right: 15%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.anadirCart a {
  background: none;
}

.anadirCart i {
  background: none;
  color: white;
  font-size: 2rem;
}

.contenedor-padre2 {
  width: 100%;
  background: none;
  justify-content: space-evenly;
}

.contenedor-padre2 p {
  margin-left: 15px;
  margin-right: 15px;
  background: none;
}

.mas-productos,
.ver-mas {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  background: none;
}

.relacionados {
  margin: 10px;
  margin-bottom: 15px;
  align-items: flex-start;
  width: 200px;
  height: 200px;
  justify-content: space-evenly;
  background: none;
}
.relacionados img {
  width: 100%;
}

/* ----------------------------- REGISTER ---------------------------*/

.main-register {
  background: none;
}

.contenedor-main-register {
  position: relative;
  text-align: center;
  background-image: url(/images/canva-photo-editor.png);
  height: 40vw;
  background-size: cover;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.contenedor-titulo {
  background: none;
}

.contenedor-titulo input {
  background: none;
}

.contenedor-titulo p {
  background: none;
}

.contenedor-titulo form {
  background: none;
}

.titulo-register {
  font-size: 3vw;
  font-weight: 100;
  margin-bottom: 1%;
  letter-spacing: 5px;
  padding-top: 5%;
  background: none;
  color: white;
}

.form-control {
  width: 100%;
}

.form-register {
  color: black;
  width: 38%;
  margin: auto;
  background: none;
}

.form-register input {
  background: none;
}
.form-register div {
  background: none;
}
#nombre,
#usuario,
#password,
#email {
  border: none;
  border-bottom: solid 1px black;
  padding: 2%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  background: none;
  font-weight: 300;
}

#nombre::placeholder,
#password::placeholder,
#email::placeholder,
#usuario::placeholder {
  color: white;
}

.botones {
  display: flex;
  justify-content: space-around;
  background: none;
}

.boton-registrar,
.boton-confirmar {
  background: none;
}

.boton-registrar button,
.boton-confirmar button {
  font-size: 23px;
  background: grey;
  padding: 1%;
  border: solid 0.5px black;
  border-radius: 10px;
  width: 250px;
  color: white;
  margin-top: 10%;
  opacity: 0.8;
  font-weight: 300;
}

.boton-registrar a {
  color: rgb(31 31 31);
  font-size: 23px;
  background: none;
  width: 100%;
  display: block;
  align-self: center;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.boton-registrar button:hover,
.boton-confirmar button:hover,
.boton-registrar a:hover {
  background-color: #9ccc65;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

@media (max-width: 420px) {
  .contenedor-main {
    height: 60vh;
  }

  .titulo-register {
    font-size: 6vw;
    padding-top: 30px;
  }

  .form {
    width: 53%;
    margin-top: 20px;
  }

  #nombre,
  #password,
  #email {
    font-size: 17px;
  }

  .boton-registrar button,
  .boton-confirmar button {
    font-size: 15px;
    width: 113px;
  }
  .boton-registrar a {
    font-size: 15px;
    text-decoration: none;
  }
}

@media (max-width: 675px) {
  .contenedor-main {
    height: 70vh;
  }

  .form {
    width: 60%;
  }
  .boton-registrar button,
  .boton-confirmar button {
    width: 195px;
  }

  .titulo-register {
    font-size: 6vw;
  }
}

/* -----------HEADER GENERAL --------------*/

.header {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: rgba(31, 31, 31, 255);
}

.left-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: none;
  margin-left: 10px;
}

.right-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: none;
  margin-right: 20px;
}

.left-box .logo img {
  background: none;
  width: 10rem;
  margin-right: 20px;
}

.buscador {
  margin-left: 2vw;
  width: 17.5vw;
  background-color: grey;
  padding: 5px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.buscador i {
  border-right: 1px white solid;
  background-color: grey;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 1rem;
  align-items: center;
  color: white;
}

.left-box .buscador input {
  font-size: 0.8rem;
  font-weight: 300;
}

.nav-bar {
  background: none;
  font-size: 1rem;
  font-weight: 300;
  margin-right: 50px;
}

.hamburguer-menu {
  display: none;
}

header a {
  background: none;
  text-decoration: none;
  align-items: center;
  margin-left: 30px;
  font-size: 15px;
  color: white;
}

.iconos {
  background: none;
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

.iconos a {
  display: flex;
  width: 2em;
  font-size: 1.5rem;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

.iconos i {
  background: none;
}

.buscador input {
  background: none;
  font-weight: 400;
  font-size: 1.2vw;
  border: none;
  color: white;
  border-style: none;
  outline: none;
}

.userLogged {
  background: none;
  color: white;
}

.header_profile {
  display: flex;
  flex-direction: row;

  align-items: center;
  background: none;
  width: 20vw;
}

.profile_access {
  display: flex;
  flex-direction: row;
}
.profile_access a {
  background: none;
}
.profile_access h3 {
  background: none;
  margin-left: 1vw;
}

.header_profile a {
  background: none;
}

.header_profile i {
  font-size: 1.5rem;
  background: none;
}

/* MEDIA QUERIES */

@media (max-width: 420px) {
  .header {
    flex-direction: column;

    align-content: space-around;
    flex-wrap: nowrap;
    height: 9rem;
  }

  .header a {
    margin: 0;
  }

  .left-box {
    margin: 1rem;
  }
  .left-box .logo img {
    margin: 1rem;
  }

  .right-box {
    margin: 0;
    align-content: space-between;
  }

  .right-box i {
    margin: 1rem;
    align-content: space-between;
  }

  .right-box .iconos {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .left-box {
    margin: 0;
  }
  .right-box .hamburguer-menu {
    margin: 0;
  }
}

@media (max-width: 675px) {
  /* header*/

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .left-box a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-box .nav-bar {
    display: none;
  }

  .left-box .buscador {
    display: none;
  }

  .hamburguer-menu {
    display: block;
    background: none;
    color: white;
    font-size: 40px;
    margin: 15px;
  }

  .hamburguer-menu i {
    background: none;
  }
  .iconos {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .iconos a {
    align-items: center;
    justify-content: center;

    width: 100%;
  }
}

@media (max-width: 1100px) {
  .buscador {
    width: 200px;
  }
  .left-box {
    align-items: center;
  }

  .nav-bar {
    display: none;
  }

  .hamburguer-menu {
    display: block;
    background: none;
    color: white;
    font-size: 1.5rem;
    margin: 15px;
  }

  .hamburguer-menu i {
    background: none;
  }

  .img-container03 {
    display: none;
  }
}

/* -------------------- FOOTER GENERAL -----------------------*/

footer {
  position: relative;
  height: 200px;
  background-color: black;
}

.contenedorfooter1 {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 10%;
}

.contenedorfooter1 a {
  font-size: 10px;
  color: white;
  text-decoration: none;
  margin: auto;
}

.redes-sociales {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 135%;
}

.titulo-footer1 {
  width: 150px;
}

.contenedorfooter2 {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 35%;
  margin: auto;
  color: white;
}

.contenedorfooter3 {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 55%;
  margin: auto;
  color: white;
}

.contenedorfooter4 {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 75%;
  margin: auto;
  color: white;
}

/* PREFERENCES */

.preferences {
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  background: none;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.preferences h2 {
  background: none;
  color: white;
  margin: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #00e676;
}

.preferences label {
  color: white;
  background: none;
  margin: 20px 30px;
}

.preferences-categories input {
  color: black;
  background: lightgray;
  outline: none;
  border: none;
  width: 30vw;
  border-radius: 3px;
  height: 2vw;
  margin: 30px;
  padding-left: 20px;
}

.preferences-brands input {
  color: black;
  background: lightgray;
  outline: none;
  border: none;
  width: 30vw;
  border-radius: 3px;
  height: 2vw;
  margin: 30px;
  padding-left: 20px;
}

.preferences-categories {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.preferences-brands {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.preferences-form {
  background: none;
  display: flex;
  flex-direction: column;
}

.preferences-form button {
  width: 10vw;
  height: 2vw;
  background-color: #00e676;
  color: black;
  border: 1px white solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 30px;
}

/* MEDIA QUERIES */

@media (max-width: 675px) {
  /* footer */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedorfooter1 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0%;
  }

  .redes-sociales {
    width: 100%;
    position: absolute;
    align-items: center;
  }

  .contenedorfooter2,
  .contenedorfooter3,
  .contenedorfooter4 {
    display: none;
  }
}
