@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto;
    width: 90%;
    box-sizing: border-box;
    
    
    
}


.header {
    background-color: #39b54a;
    text-align: left;
    margin: 10px;
    border: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2 {
    display: flex;
    box-sizing: border-box;
}

.search-bar {
    width: 300px;
    height: 15px;
    background-color: #eaeaea;
    border: solid 0.5px black;
    box-sizing: border-box;
    display: flex;
}

.header-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-bar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.main {
    column-count: 3;
    box-sizing: border-box;
    margin: 10px;
}

.main .columna .columna-detalles {
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: nowrap;
    flex-grow: 1;
    
}

.detalles {
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    height: 50px;
    margin-bottom: 25px;
    align-content: flex-start;
    box-sizing: border-box;
    
}

.main .columna1 .i-principal {
    display: block;
    flex-direction: row;
    box-sizing: border-box;
    flex-grow: 1;
    

}

.i-principal {
    display: flex;
    box-sizing: border-box;
    height: 500px;
    align-self: stretch;
    border: solid 1px black;
    flex-direction: row;

}

.main .columna2 {
    display: block;
    box-sizing: border-box;
    flex-direction: row;
    flex-grow: 1;
}

.mas-productos, .ver-mas {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
}


.footer {
    background-color: black;
    color: white;
}

.footer ul {
    list-style: none;
    margin: 25px;
    padding: 25px;
    
}

.footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}