

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}


/*-------------- HEADER ---------------*/


.header {

    background: none;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem
    
    
    
}

.left-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
    margin-left: 10px
}

.right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
    margin-right: 20px

}

.left-box .logo img{
    background: none;
    width: 10rem;
    margin-right: 20px
   
}



.buscador {
    margin-left: 20px;
    width: 12rem;
    background-color: grey;
    padding: 5px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
   
   
}

.buscador i {
    border-right: 1px white solid;
    background-color: grey;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 1rem;
    align-items: center;
    color: white;

}

.left-box .buscador input {
    font-size: 0.8rem;
    font-weight: 300;
    

}

.nav-bar {
    background: none;
    font-size: 1rem;
    font-weight: 300;
    margin-right: 50px
}

.hamburguer-menu {
    display: none
}

header a {
    background:none;
    text-decoration: none;
    align-items: center;
    margin-left: 30px;
    font-size: 15px;
    color: white

}

.iconos {
    background: none;
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px
    
}

.iconos a {

    display: flex;
    width: 2em;
    font-size: 1.5rem;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    

}

.iconos i {
    background: none;
    
}

.buscador input {
    background: none;
    font-weight: 400;
    font-size: 1.2vw;
    border: none;
    color: white;
    border-style: none;
    outline: none;
    
}

/*-------------- MAIN ---------------*/

main {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  
}

.ContenedorMain {

    position: relative;
    text-align: center;
    color: white;
    background: none;
    height:50vw;
    
}


.MainImg { 

    max-height: 100%;
    width: 100%;
    background: none;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(0%, 0%);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
    z-index: 1
    
    

}


.ContenedorMain .arrow-left i {
   
    background: none;
    font-size: 2em;
   -webkit-text-stroke: 1px black;
    color:white;
    position: absolute;
    top: 50%;
    left: 1rem;
   
    

}

.ContenedorMain .arrow-right i {

    background: none;
    font-size: 2rem;
    color:white;
    position: absolute;
    -webkit-text-stroke: 1px black;
    top: 50%;
    right: 1rem;
    

}

.ContenedorMain .arrow-left a,
.ContenedorMain .arrow-right a {
    font-size: 2rem;
}


.arrow-left i:hover, 
.arrow-right i:hover {
    transform: scale(1.2);
    
}

.center-left {
    
    margin:auto;
    background: none;
    color: black;
    position: absolute;
    left: 5%;
    top: 5%
}


.center-left img{
    width: 10rem;
    background: none;
  
}

.bottom-left {

    
    margin-top: 2vw;
    width: 350px;
    background: none;
    font-size: 20px;
    font-weight: 300;
    color: black;

}

.buy-now-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    position: absolute;
    
    top:70%;
    left: 30%;
    width: 18vw;
    height:5vw;
    z-index: 10;
}

.buy-now-button a {
    font-size: 1.5vw;
    text-align: center;
    background: none;
    text-decoration: none;
    color: black;
    display: inline-block;
    white-space: nowrap;
    max-width: 10ch;
    letter-spacing: 3px;
 
}
.bg-button {
    background: chartreuse;
    width: 18vw;
    height: 5vw;
    position: absolute;
    z-index: 8;
    top:71%;
    left:30.5%
}


.main-categorias {

    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    background: none;
    color: white;
    padding: 20px 20px 20px 20px;
    margin: 100px 10px 10px 10px;
    border-bottom: solid #63a4ff 1px
    

}

.main-sub-categorias {
    padding: 5px 50px;
    margin: 10px;
    background: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-sub-categorias a {
    
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    background: none;
    color: white;
  
}

.main-sub-categorias a:hover {
    color: orange
}


.main-images {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: none;
    padding: 5px 0px;
    margin: 10px;
    height: 400px;
    position: relative
}


.img-container01,
.img-container02,
.img-container03 {

    border-bottom: rgb(119, 235, 255, 0.2) 1px solid;
    border-top: rgb(119, 235, 255, 0.2) 1px solid;
    padding: 5px 15px;
    background:  none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
    text-decoration: none;

}

.img-container01 img,
.img-container02 img,
.img-container03 img {

    align-items: center;
    width: 200px;
    height: 200px;
    background: none;

}

.img-container01 p,
.img-container02 p,
.img-container03 p {

    align-items: center;
    background: none;
    color: #80d6ff;
}

.img-container01:hover,
.img-container02:hover,
.img-container03:hover {
    box-shadow: 0px 0px 10px 1px #63a4ff;
    
    
}

.main-images i {
    background: none
}

.main-images i:hover {
   
    color: orange;
    background: none
}

.arrow-left-main {

    background: none;
    font-size: 2em;
    color:orange;
    position: absolute;
    top: 50%;
    left: 3%

}

.arrow-right-main {

    background: none;
    font-size: 2em;
    color:orange;
    position:absolute;
    top: 50%;
    right: 3%
    

}

.arrow-right-main i,
.arrow-left-main i {
    background: none;
}

.arrow-right-main i:hover,
.arrow-left-main i:hover {
    transform: scale(1.3);
    text-shadow: 0px 2px 8px white;
}


/*-------------- FOOTER ---------------*/

footer {

    position: relative;
    height: 200px;
    background-color:black;
}

.contenedorfooter1 {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    
   

}

.contenedorfooter1 a{
    
    font-size: 10px;
    color:white;
    text-decoration: none;
    margin: auto;

}

.redes-sociales {
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 135%;
}

.titulo-footer1 {

  width:150px

}

.contenedorfooter2 {
    
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 35%;
    margin: auto;
    color: white;

}


.contenedorfooter3 {

    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 55%;
    margin: auto;
    color: white;
   

}


.contenedorfooter4 {

    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 75%;
    margin: auto;
    color: white;
    

}



@media (max-width: 420px) {

  .header {
      
      flex-direction: column;
      
      align-content: space-around;
      flex-wrap: nowrap;
      height: 9rem
  }

  
.header a {
    margin: 0
}

.left-box {
    margin:1rem;
}
.left-box .logo img {
    margin: 1rem;
    
}

  .right-box {
      margin: 0;
      align-content: space-between;
  }

  .right-box i {
    margin: 1rem;
    align-content: space-between;
}
 

  .right-box .iconos {
      margin: 0;
      width: 100%;
      padding: 0
  }
  .left-box {
      margin: 0;
      
  }
  .right-box .hamburguer-menu {
      margin: 0
  }

}




@media (max-width: 675px) {

    /* header*/ 

.header {
  
    justify-content: space-between;
    align-items: center;
    }

.left-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0
    }

.left-box a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-box .nav-bar {
    display: none
}

.left-box .buscador {
    display: none
}

.hamburguer-menu {

    display: block;
    background: none;
    color: white;
    font-size: 40px;
    margin: 15px
}

.hamburguer-menu i {
    background: none;
}
.iconos {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.iconos a {
    align-items: center;
    justify-content: center;
    
    width: 100%
}


/* Main */

.main-sub-categorias {
    display: none
}

.img-container02,
.img-container03 {
    display: none

}


/* footer */

.footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorfooter1 {
    
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0%;
    
}



.redes-sociales {
    width: 100%;
    position: absolute;
    align-items: center
}

.contenedorfooter2,
.contenedorfooter3,
.contenedorfooter4 {
    display: none
}

}

@media (max-width: 1100px) {

.left-box {
    align-items: center;
}

    .nav-bar {
        display: none
    }

    
    .hamburguer-menu {
    
        display: block;
        background: none;
        color: white;
        font-size: 1.5rem;
        margin: 15px
    }
    
    .hamburguer-menu i {
        background: none;
    }
   
    .img-container03 {
        display: none
    }
}