*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}
/* Empieza el main */

.contenedor-main{
    position: relative;
    text-align: center;
    background-image: url(/images/canva-photo-editor.png);
    height: 35vw;
    background-size: cover;
}

.titulo-login{
    font-size: 25px;
    margin-bottom: 1%;
    letter-spacing: 5px;
    position: relative;
    z-index: 2;
    padding-top: 5%;
    color:white;
}


.form{
    color: white;
    width: 40%;
    margin: auto;
}

#nombre,
#password{
    border: none;
    border-bottom: solid 1px black;
    padding: 2%;
    width: 100%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
    background: none;
}

#nombre::placeholder, #password::placeholder{
    color: white;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.boton-registrar button, .boton-confirmar button{
    font-size: 20px;
    background: grey;
    opacity: 0.8;
    padding: 2%;
    border: solid 0.5px black;
    border-radius:10px;
    width: 250px;
    color: white;

}

.boton-registrar a{
    color: white;
    font-size: 20px;
    background: none;
    width: 100%;
    display: block;
    align-self: center
}

.boton-registrar button:hover,
.boton-confirmar button:hover,
.boton-registrar a:hover{
    background-color: rgb(31 31 31);
    color: white;
}

.rememberpass{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 5%;
    justify-content:left;
    color: white;
    background: none;
    position: relative;
    left: 2%;
}


.forgotpass{
    margin-top: 5%;
    display: flex;
}

.forgotpass a{
    color: white;
    font-size: 15px;
}

.forgotpass a:hover{
    text-decoration: underline;
    
}


/* Footer */

footer {

    position: relative;
    height: 200px;
    background-color: rgb(31 31 31);
}

.contenedorfooter1 {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    
   

}

.contenedorfooter1 a{
    
    font-size: 10px;
    color:white;
    text-decoration: none;
    margin: auto;

}

.redes-sociales {
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 135%;
}

.titulo-footer1 {

  width:150px

}

.contenedorfooter2 {
    
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 35%;
    margin: auto;
    color: white;

}


.contenedorfooter3 {

    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 55%;
    margin: auto;
    color: white;
   

}


.contenedorfooter4 {

    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 75%;
    margin: auto;
    color: white;
    

}

