*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.menu .contenedor a img {
    background: none;
    width: 10rem;
    margin-right: 20px
}

header .contenedor {
    font-size: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(31 31 31);
}

.fa-shopping-cart, .fa-sign-out-alt {
    background: none;
    display: flex;
    width: 50px;
    font-size: 30px;
    align-items: center;
    color: #5eb8ff;
    justify-content: space-evenly;
   
}

.fa-shopping-cart a, .fa-sign-out-alt a {

    display: flex;
    width: 2em;
    font-size: 1em;
    align-items: center;
    color: #5eb8ff;
    justify-content: space-evenly;
    

}

.menu{
    padding: 9px 20px;
    background-color: rgb(31 31 31);
}

.buscador {
    display: flex;
    width: 240px;
    background: white;
    padding: 5px 10px;
    color: black;
    border-radius: 20px;
    align-items: center;  
    font-weight: bold;

}

.buscador i {
    margin-right: 10px;
    background: none;
    font-size: 17px;
    align-items: center;
    color: black;
    background: none;
}


nav ul li{
    display: inline-block;
    margin: 0 20px;
}


/* Empieza el main */

.contenedor-main{
    position: relative;
    text-align: center;
    background-image: url(/images/canva-photo-editor.png);
    height: 40vw;
    background-size: cover;
}

.titulo-login{
    font-size: 25px;
    margin-bottom: 1%;
    letter-spacing: 5px;
    position: relative;
    z-index: 2;
    padding-top: 5%;
    background: none;
    color: white;
}

.form-control{
    width: 100%;
}

.form{
    color: black;
    width: 38%;
    margin: auto;
    font-weight: bold;
}

#nombre,
#password,
#email{
    border: none;
    border-bottom: solid 1px black;
    padding: 2%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    background: none;

}

#nombre::placeholder,
#password::placeholder,
#email::placeholder{
    color:white;
    font-weight: bolder;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.boton-registrar button, .boton-confirmar button{
    font-weight: bold;
    font-size: 20px;
    background: grey;
    padding: 1%;
    border: solid 0.5px black;
    border-radius:10px;
    width: 250px;
    color: white;
    margin-top: 10%;
    opacity: 0.8;

}

.boton-registrar a{
    color: rgb(31 31 31);
    font-size: 20px;
    background: none;
    width: 100%;
    display: block;
    align-self: center;
    color: white;
}

.boton-registrar button:hover,
.boton-confirmar button:hover,
.boton-registrar a:hover{
    background-color: rgb(31 31 31);
    color: white;
}

/* Footer */

footer {

    position: relative;
    height: 200px;
    background-color: rgb(31 31 31);
}

.contenedorfooter1 {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    
   

}

.contenedorfooter1 a{
    
    font-size: 10px;
    color:white;
    text-decoration: none;
    margin: auto;

}

.redes-sociales {
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 135%;
}

.titulo-footer1 {

  width:150px

}

.contenedorfooter2 {
    
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 35%;
    margin: auto;
    color: white;

}


.contenedorfooter3 {

    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 55%;
    margin: auto;
    color: white;
   

}


.contenedorfooter4 {

    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 75%;
    margin: auto;
    color: white;
    

}

