<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<title>Home</title>

</head> 
<body>
    <!--Header-->
    <head></head>
    <%- include("./partials/header.ejs")  %> 

    <!--MAIN-->
    <main>
        <div class='ContenedorMain'>
            <img class='MainImg' src="/images/main-image-todo2.png" alt="">
            
                <div class="interactive-logo"> 
                    <img src="/images/Logo-sin-fondo.png" alt="">
                    <a class="text-logo">We Are Viridis</a>
                
                  


                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam culpa iusto, cupiditate sunt quos expedita amet tempore magni cum, dolorem fugit quam dignissimos nostrum hic ut nobis deleniti saepe et. Lorem!</p>
           
               
                <a class="arrow-left" href=""><i class="fas fa-chevron-left"></i></a>
                <a class="arrow-right" href=""><i class="fas fa-chevron-right"></i></a>
                <div class="main-buttons">
                    <div class="buy-now-button">    
                   <a href="/products/product" class="shop-now">Shop Now</a>
                    </div>
                    <div class="bg-button"></div>
                </div>
    </div>

     <!---Middle Main Section-->
    <section class="middle-section">
        <div class="middle-section-img"> <img src="/images/Homepage-Thumb-Clubs.png" alt="">
            
           
        </div>
        <p>Where your green is our home</p>
        <a class="navigate" href=""> Navigate our sections full of discounts and low prices</a>
        <div class="bg-panel1"></div>
        <div class="main-section-buttons">
            <div class="icon-primary">
                <i class="fas fa-golf-ball"></i>
            </div>
            <div class="button-clubs">
                    <a href="#"><img src="/images/golfing.png"></a>
            </div>
            <div class="button-bags">
                <a href="#"><img src="/images/caddy.png" alt=""></a>

            </div>
            <div class="button-shoes">
                <a href="#"><img src="/images/smart-shoe.png" alt=""></a>

            </div>
            <div class="button-golfballs">
                <a href="#"><img src="/images/golf-ball-with-dents.png" alt=""></a>

            </div>
            <div class="button-sets">
                <a href="#"><img src="/images/golf-sets.png" alt=""></a>

            </div>
            

            </div>

        </div>

        <div class="membership-discounts"> 
            <a class="membership-txt" href=""> Take a look at our membership discounts for this selected clubs</a>
            <a class="membership-icon"><i class="fas fa-id-card"></i></a>
        </div>
        <div class="bg-panel02"></div>
        
        <img class="balls-img" src="/images/pngkey.com-golf-ball-png-54999.png" alt="">

        <a class="offer-txt" href="">Up to 30% Off in Accesories</a>
        
        

    </section>

    <!-- Bottom Main Section-->
    <section class="interactive-search">
        <h2>Or look for yourself</h2>
        <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="Type to search">
            <a class="search-btn" href="">
            <i class="fas fa-search"></i>
            </a>
        </div>

    </section>

<!--Main Bottom Section-->

    <section class="main-bottom-section">
        <a class="main-categorias">Ofertas</a>

        <div class="main-sub-categorias">

            <a h>Clubs</a>
            <a>Indumentaria</a>
            <a>Mochilas</a>
            <a>Sets</a>

        </div>
        <div class="main-images">
            <a href="/products/detail" class="arrow-left-main" href=""><i class="fas fa-chevron-left"></i></a>
            <a href="/products/product" class='img-container01'>
                <img src="/images/G425Iron_7cavityRender.png" alt="">
                <p>G425 Iron</p>
                <p>7 Cavity Rennnder</p>
                <p>$ 4,500</p>
                <p>Agregar a Carrito <i class="fas fa-shopping-cart"></i></p>
            </a>
            <a href="/products/product" class='img-container02'>
                <img src="/images/G425Iron_7cavityRender.png" alt="">
                <p>G425 Iron</p>
                <p>7 Cavity Rennnder</p>
                <p>$ 4,500</p>
                <p>Agregar a Carrito <i class="fas fa-shopping-cart"></i></p>
                
            </a>
            <a href="/products/product" class='img-container03'>
                <img src="/images/G425Iron_7cavityRender.png" alt="">
                <p>G425 Iron</p>
                <p>7 Cavity Rennnder</p>
                <p>$ 4,500</p>
                <p>Agregar a Carrito <i class="fas fa-shopping-cart"></i></p>
            </a>
            <a class="arrow-right-main" href=""><i class="fas fa-chevron-right"></i></a>
        </div>
        
    </section>
       
    </main>

<!--FOOTER-->
<%- include("./partials/footer.ejs")  %>    
    
</body>
</html>