<header>
    <div class='header'>
        <div class="left-box">
        <a href="/" class="logo"><img src='/images/Logo-blanco.png' href=''></a>

        <div class='buscador'>

            <i class="fas fa-search"></i>
            <input type="text" placeholder="Barra de busqueda">
            
        
        </div>
    </div>
    <div class="right-box">
        <div class="nav-bar">
            <a href="/products/inventory">Inventario</a>
            <a href="/products/product">D.Producto</a>
            <a href="/products">Productos</a>
            <a href="/products/create">Crear Producto</a>
        </div>
        <div class="hamburguer-menu"><i class="fas fa-bars"></i></div>
        <div class='iconos'>
            <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>
    </div>
</header>