
     <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs")  %>

    <main>
        <section>
            <div class="contenedor-main">
                <div class="titulo-login">
                    <p>Inicia Sesión</p>
                </div>
                <div class="form-login">
                    <form action="/users/register.html" method="post">
                        <label for="nombre"> </label>
                        <input type="text" name="email" id="email" placeholder="Email" required>
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                        <label class="rememberpass">
                            <input type="checkbox" name="recordarpass" value="ok" class="checkbox">Recordar mi
                            Contraseña
                        </label>

                        <div class="botones">
                            <div class="boton-registrar">
                                <button type="button"><a href="/users/register">Registrarse</a></button id="submit"></button>
                            </div>
                            <div class="boton-confirmar">
                                <button type="submit">Confirmar</button id="submit"></button>
                            </div>

                        </div>
                        <div class="forgotpass">
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                    </form>



                </div>

            </div>
        </section>
    </main>


    <!--------FOOTER-->
    <%- include("../partials/footer.ejs")  %>  

</body>

