<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs")  %>
    <main>
<h2>spdajfslkdjg</h2>
    </main>
    <!--------FOOTER-->
    <%- include("../partials/footer.ejs")  %> 
</body>
