
    <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs")  %>

    <main class="main-register">
        <section>
            <div class="contenedor-main-register">
                <div class="contenedor-titulo">
                    <div class="titulo-register">
                        <p>Formulario de Registro</p>
                    </div>
                    <div class="form-register">
                        <form action="/users/register" method="POST">
                            <div>
                                <label for="nombre"> </label>
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required>
                            </div>
                            <div>
                                <label for="usuario"> </label>
                                <input type="text" name="usuario" id="nombre" placeholder="Usuario" required>
                            </div>
                            <div>
                                <label for="password"></label>
                                <input type="password" name="password" id="password" placeholder="Contraseña"
                                    required>
                            </div>
                            <div>
                                <label for="email"></label>
                                <input type="email" name="email" id="email" placeholder="Email"  required>
                            </div>
                            <div class="avatarImage">
                                <p>Selecciona tu imagen de perfil</p>
                                <label for="Image"></label>
                                <input type="file" name="imagenUsuario">
                            </div>

                            <div class="botones">
                                <div class="boton-registrar">
                                    <button type="button"><a href="/users/login">Iniciar Sesión</a></button id="submit"></button>
                                </div>
                                <div class="boton-confirmar">
                                    <button type="submit">Confirmar</button id="submit"></button>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!--FOOTER-->
<%- include("../partials/footer.ejs")  %>  
</body>

