<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/register_styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Register</title>
</head>

<body>
    <%- include("../partials/header.ejs")  %>

    <main>
        <section>
            <div class="contenedor-main">
                <div class="contenedor-titulo">
                    <div class="titulo-login">
                        <h1>Formulario de Registro</h1>
                    </div>
                    <div class="form">
                        <form action="/users/registro" method="POST">
                            <div>
                                <label for="nombre"> </label>
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required>
                            </div>
                            <div>
                                <label for="nombre"> </label>
                                <input type="text" name="nombre" id="nombre" placeholder="Usuario" required>
                            </div>
                            <div>
                                <label for="password"></label>
                                <input type="password" name="password" id="password" placeholder="Contraseña"
                                    required>
                            </div>
                            <div>
                                <label for="email"></label>
                                <input type="email" name="Email" id="email" placeholder="Email"  required>
                            </div>

                            <div class="botones">
                                <div class="boton-registrar">
                                    <button type="button"><a href="/users/login">Iniciar Sesión</a></button id="submit"></button>
                                </div>
                                <div class="boton-confirmar">
                                    <button type="submit">Confirmar</button id="submit"></button>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!--FOOTER-->
<%- include("../partials/footer.ejs")  %>  
</body>

</html>